:root{
    --green: #1ed860;
    --black: #121212;
}

html{
    /* font-size: 16px; */
    font-family: "Signika";
    width: 100vw;
    height: 100vh;
}

body{
    background-color: var(--black);
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* premade */
.bold-font{
    font-weight: bold;
}
.medium-font{
    font-weight: 400;
}
.text-center{
    text-align: center;
}

/* Nav Bar */

.header-img{
    width: 6rem;
}

.nav-bar{
    align-content: center;
    display: flex;
    background-color: black;
    width: 100%;
    height: 6vh;
    margin-top: -8px;
    justify-content: space-around;
    font-weight: 600;
    font-size: 0.4rem;
    padding: 1px;
}

.links-container{
    padding: 1px;
    width: 55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.nav-links{
    font-size: 2.5em;
    color: var(--green);
    text-decoration: none;
    padding-top: 5px;
}

/* Hero */
.hero-container{
    height: 462px;
    padding: 60% 0 0 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    background-image: url("https://wwwmarketing.scdn.co/static/images/premium/mobile-album-evergreen-2x.png"), linear-gradient(0deg, rgba(255, 210, 215, 0) 45%, #FFD2D7 100%);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero h1, .hero h2{
    line-height: 32.7px;
    font-weight: bold;
    letter-spacing: -0.015em;
    text-shadow: rgba(0, 0, 0, 0.65) 0 4px 14px;
}

.hero h1{
    font-size: 2.1rem;
    margin : 0;
}
.hero h2{
    margin : 10px 0 13px;
    font-size: 1.1rem;
    font-weight:340;
}

.hero{
    padding : 1px 16px 32px 16px;
}

.offer{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    width: fit-content;
    height: fit-content;
    padding: 4px 7px;
    padding-left: 5px;
    border-radius: 2px;
}
.offer p{
    /* margin-top: 20px; */
    padding-top:2px;
    margin: 0;
}
.bell{
    fill: #0064c1;
}

.call-to-action{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin: 35px 0 28px 0;
    padding: 1px;
}

.hero-button{
    all: unset;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 9999px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px;
    background-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(127, 127, 127);
}

.get-started{
    color: black;
    background-color: #FFD2D7;
    border: none;
}

.hero-description{
    font-weight:10;
    font-size: 12px;
}
.hero-description a{
    all : unset;
    text-decoration: underline;
}

/* difference table */


.difference-container{
    padding: 35px 0 35px 0;
}

.difference-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 25px 25px 25px;
}

.difference-header h3, .difference-header h2{
    margin-top: 0;
    margin-bottom:0;
}
.difference-header h2{
    margin-bottom: 0;
    font-size: 30px;
}

.diff-icon{
    fill: white;
    width: 24px;
    height: 24px;
    vector-effect: non-scaling-stroke;

}



table{
    border-collapse: collapse;
}

thead{
    border-bottom: 1px solid grey;
    text-align: left;
}

.diff-th1{
    vertical-align: bottom;
    /* display: block; */
    
}
.thead2{
    width: 29%;
    font-size:16px;
}
.diff-th2{
    width: 70%;
}

.diff-th3{
    justify-self: center;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    /* flex-wrap:; */
    width: 85%;
    gap: 2px;
}

.thead3{
    padding: 32px 8px 32px 20px;
    box-sizing: border-box;
    width: 29%;
    /* background-color: red; */
    
}



.diff-th3 div{
    width: fit-content;
}

th, td{
    padding: 16px 10px;
    border-bottom: 1px solid grey;
    text-align : left;
}

.line{
    background-color: grey;
    width: 23px;
    height: 3px;
}
.line-parent{
    /* display: flex; */
    align-items : center;
    justify-content: center;
    box-sizing: border-box;
    /* padding: 20px; */
    height: 100%;
}



/* CHECK MARK */

.check-mark path{
    fill: white;
    width: 30px;
    height: 30px;
}
.check-mark{
    fill: white;
    width: 30px;
    height: 30px;
}
.check-parent{
    vertical-align: middle;
}