:root{
    --green: #1ed860;
    --black: #121212;
    --pink: rgb(255, 210, 215);
    --purple: rgb(196, 177, 212);
    --mustard: rgb(255, 200, 98);
    --light-blue: rgb(165, 187, 209);
    --green-blue: rgb(201, 227, 219);
}
*{
    box-sizing: border-box;
}
html{
    /* font-size: 16px; */
    font-family: "Signika";
    width: 100vw;
    height: 100vh;
}


.pink{
    color: var(--pink);
    --background-color: var(--pink);
}
.purple{
    color: var(--purple);
    --background-color: var(--purple);
}
.mustard{
    color: var(--mustard);
    --background-color: var(--mustard);
}
.lightblue{
    color: var(--light-blue);
    --background-color: var(--light-blue);
}
.greenblue{
    color: var(--green-blue);
    --background-color: var(--green-blue);
}


body{
    background-color: var(--black);
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* premade */
.bold-font{
    font-weight: bold;
}
.medium-font{
    font-weight: 400;
}
.text-center{
    text-align: center;
}

/* Nav Bar */


.spotify-logo{
    height: 25px;
    /* transform: scale(0.4); */
    fill: white;
    align-self: center;

}

.logo{
    display: flex;
    align-content: center;
}

.logo-link{
    display: flex;
}

.nav-bar{
    display: flex;
    align-content: center;
    background-color: black;
    width: 100%;
    height: 52px;
    margin-top: -8px;
    justify-content: space-around;
    font-weight: 600;
    font-size: 0.4rem;
    padding: 1px;
}

.links-container{
    padding: 1px;
    width: 55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.nav-links{
    font-size: 2.5em;
    color: white;
    text-decoration: none;
}

/* Hero */
.hero-container{
    height: 462px;
    padding: 60% 0 0 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    background-image: url("https://wwwmarketing.scdn.co/static/images/premium/mobile-album-evergreen-2x.png"), linear-gradient(0deg, rgba(255, 210, 215, 0) 45%, #FFD2D7 100%);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero h1, .hero h2{
    line-height: 32.7px;
    font-weight: bold;
    letter-spacing: -0.015em;
    text-shadow: rgba(0, 0, 0, 0.65) 0 4px 14px;
}

.hero h1{
    font-size: 2.1rem;
    margin : 0;
}
.hero h2{
    margin : 10px 0 13px;
    font-size: 1.1rem;
    font-weight:340;
}

.hero{
    padding : 1px 16px 32px 16px;
}

.offer{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    width: fit-content;
    height: fit-content;
    padding: 4px 7px;
    padding-left: 5px;
    border-radius: 2px;
}
.offer p{
    /* margin-top: 20px; */
    padding-top:2px;
    margin: 0;
}
.bell{
    fill: #0064c1;
}

.call-to-action{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin: 35px 0 28px 0;
    padding: 1px;
}

.hero-button{
    all: unset;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 9999px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px;
    background-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(127, 127, 127);
    /* RESPONSIVE to apply only with larger screens  */
    /* max-width: 150px; */
    min-block-size: 48px;
}

.get-started{
    color: black;
    background-color: #FFD2D7;
    border: none;
}

.hero-description{
    font-weight:10;
    font-size: 12px;
}
.hero-description a{
    all : unset;
    text-decoration: underline;
}

/* difference table */


.difference-container{
    display: flex;
    flex-direction: column;
    align-items :center;
    max-width: 500px;
    padding: 35px 1px 35px 1px;
    justify-content: center;
    margin: 0 auto;
}
.difference-container h3, .difference-container h2{
    flex-basis: 100%;
    
}

.difference-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 25px 25px 25px;
}

.difference-header h3, .difference-header h2{
    margin-top: 0;
    margin-bottom:0;
}
.difference-header h2{
    margin-bottom: 0;
    font-size: 30px;
}

.diff-icon{
    fill: white;
    width: 24px;
    height: 24px;
}


table{
    border-collapse: collapse;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1px;
}

 /* HEADER ROW */

thead{
    border-bottom: 1px solid grey;
    text-align: left;
    line-height: 22px;
}

.thead1{
    box-sizing: border-box;
    vertical-align: bottom;
    padding: 16px 10px 10px 10px;
}

.thead2{
    box-sizing: border-box;
    /* width: 35%; */
    font-size:16px;
    padding: 32px 8px 32px 20px;
}

.thead3{
    box-sizing: border-box;
    padding: 32px 8px 32px 20px;
    box-sizing: border-box;
    width: 29%;
}

.diff-th2{
    width: 75%;
}

.diff-th3{
    display: flex;
    justify-self: center;
    align-self: flex-start;
    justify-content: space-between;
    width: 85%;
    gap: 2px;
}

.diff-th3 div{
    width: fit-content;
}

tr td, tr th{
    padding: 16px 10px;
    border-bottom: 1px solid grey;
    text-align : left;
    box-sizing: border-box;
    line-height: 24px;
    /* overflow: hidden; */
}




.line{
    display: inline-block;
    background-color: grey;
    width: 23px;
    height: 3px;
}
.line-parent{
    /* display: flex; */
    /* align-items : center; */
    /* justify-content: center; */
    box-sizing: border-box;
    text-align: center;
    /* padding: 20px; */
    height: 100%;
}


.normal-underline{
    text-decoration: dashed underline;
    font-weight: normal;
    font-size: 14px;
}


/* CHECK MARK */

.check-mark path{
    fill: white;
    width: 30px;
    height: 30px;
}
.check-mark{
    fill: white;
    width: 30px;
    height: 30px;
}
.check-parent, .line-parent{
    vertical-align: middle;
    text-align: center;
}



/* Premium plans description */


.premium-plans{
    box-sizing: border-box;
    padding: 35px 24px 0;
}
.premium-plans h2{
    letter-spacing: -1px;
    font-size: 32px;;
    margin: 0;
}
.premium-plans h3{
    font-weight: 300;
    text-align: center;
    font-size: 17px;
    margin: 16px 0 32px;
}


.payement{
    display : flex;
    justify-content: space-around;
    margin-top: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.payement-parent{
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}

.payement-method{
    width: 45px;
    height: 30px;
    /* border:1px solid lightgrey; */
}

.visa{
    background-image: url("../assets/visa.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.american-express{
    background-image: url("../assets/amex.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.master-card{
    background-image: url("../assets/mastercard.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.paypal{
    background-image: url("../assets/paypal.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.discover{
    background-image: url("../assets/discover.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* Respoonsive */

.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 48px 0;
    padding: 0 32px;
}
.list-container h3{
    text-align: center;
    font-size: 26px;
    display: block;
    margin: 0;
    font-weight: 700;
}


.premium-list{
    list-style:"✓";
}

/* .premium-list li::before{
    content: "✓";
    position: relative;
    left:px;
} */
.premium-list li{
    margin:  0 0 0 20px;
    padding-left: 10px;
}



/* Premium cards */

.plans-cards{
    box-sizing: border-box;
    padding: 0 24px;
    max-width: 100%;
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.card{
    display: block;
    background-color: red;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(36, 36 , 36);
    /* TEMP */
    padding: 1px;
    margin-top: 20px;
    /* TEMP */
    box-sizing: border-box;
    max-width: 400px;
}

.price-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.first-price{
    background-color: var(--background-color);
    color: black;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 16px;
    line-height: 13.75px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}


/* .plan{
    pading: 
} */

.plan{
    padding:  0 16px; 
}

.price-hr{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.1);
    margin: 16px 0 0;
    border: none;
}

.spotify-logo-plans{
    margin-top: 16px;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    font-weight: 300;
    font-size: 16px;

}
.spotify-logo-plans span{
    padding-top: 3px;
}

.plan-name{
    font-weight: bold;
    font-size: 32px;
    line-height: 145%;
    margin: 0;
}


.current-price{
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0 0;
}

.after-price{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: rgb(167, 167, 167);
    
}

.plan-description{
    padding: 20px 16px;
    padding-right: 0;
    margin: 0;
    font-size: 16.5px;
    font-weight: 350;
    line-height: 22px;
}
.plan-description li::marker{
    font-size: 13px;
}

.card-button{
    all: unset;
    color: black;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
    height: 30px;
    min-block-size: 48px;
    border-radius: 9999px;
    font-size: 17px;
    font-weight: 610;
    margin-bottom: 16px;
}

.plan-description2{
    font-size: 13px;
    line-height: 16px;
    font-weight: 200;
    text-align: center;
    color: rgb(167, 167, 167);
    padding: 4px 0 16px 0;
    margin-bottom: 0;
}

.plan-terms{
    all: unset;
    text-decoration: underline;
}

.audio-books{
    text-align: center;
    padding: 35px 0;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 400px;
}

.audio-books .plan-name{
    font-size: 33px;
    letter-spacing: +0.3px;
    line-height: 100%;
}

.audio-books .current-price{
    font-size: 17px;
    margin: 0;
    padding: 8px 0;
}


.audiobooks-description{
    font-size: 14.2px;
    padding: 8px 0;
    margin: 0;
    font-weight: 100;
}

.audiobooks-button{
    margin: 1px auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: black;
    border-radius: 9999px;
    min-block-size: 48px;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 17px;
    font-weight: 610;
    margin: 8px 0;
}

/* faq section */
.faq{
    padding: 35px 0 64px;
    max-width: 100%;
    color: white;
    max-width: 1170px;
    margin: 0 auto;
}
.faq li summary{
    padding: 16px;
    margin: 0;
}

.faq-list{
    /* all: unset; */
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.faq h2{
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.faq p{
    font-size: 16px;
    font-weight: 200;
}

.faq a{
    all: unset;
    color: white;
    text-decoration: underline;
}

.answer-container{
    width: 100%;
    background-color: #1f1f1f;
    padding: 15px 32px 32px 32px;
}


summary::-webkit-details-marker {
    order: -1;
    /* display: none; */
}
summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: ; */
    /* list-style: none; */
}
summary div{
    font-size: 1.15em;
    font-weight: 600;
}

.faq-hr{
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.1);
    margin: 0;
    border: none;
}
.faq li summary div{
    width: 92%;
}

#faq-arrow{
    display: block;
    width: 32px;
    height: 35px;
    box-sizing: content-box;
}
.answer-container{
    font-size: 17px;
    font-weight: 370;
    width: 100%;
}
.answer-container p{
    width: 100%;
    margin-top: 0;
}
.answer-container p:last-of-type{
    width: 100%;
    margin: 0;
}

details{
    max-width: 100%;
}


details[open] .faq-arrow{
    transform: rotate(180deg);
}
details[open] summary{
    text-decoration: underline;
    background-color: #2a2a2a;
}