h1{
    text-align: center;
}
.container{
    background-color: whitesmoke;
    width: 850px;
    /* height: 200px; */
    box-shadow: 0px 0px 5px black;
    margin: 50px auto;
    /* padding: 10px 15px; */
}

td{
    padding: 3px 10px;
}

thead{
    text-align: center;
}

table{
    width: 100%;
    border: 1px solid black;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
    
}

.rating{
    display: flex;
    padding-right: 20px;
    box-sizing: border-box;
    padding-bottom: 8px;
    /* margin-left: 10px; */
    justify-content: space-evenly;
    padding-top: 7px ;
    gap: 10px;
}

.star{
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 5px;
}

tr{
    border-bottom: 1px solid black;
}

/* .divider{
    height: 1px;
    padding:1px;
    border-bottom: 1px solid grey;
} */
/* td, th{
    border-bottom:  1px solid black;
} */

.no-div td , .no-div th{
    border: none;
}

.rating-1 .star:nth-child(-n+1){
    background-color: green;
}
.rating-2 .star:nth-child(-n+2){
    background-color: green;
}
.rating-3 .star:nth-child(-n+3){
    background-color: green;
}